.gitignore
py_temp_func.py
py_temp_func.py
testtime.ipynb
.*
trec_eval.txt
studentinfo.txt
assignment-2/index/
tokenisation
tokenisation (copy)
vocab.json
vocabmap.json
docmap.json
reverse_vocab.json
reversedocmap.json

inverted_index/
inverted_index_text/

del/
scores/
testfiles/
withstopwords/
catlogtest.json
inverted_index_test.json
merged2
temp
test
Untitled.ipynb
files/
initial_files/
proc/
assignment-3_final/frontier_system.json
assignment-3_final/inlinks*.json
assignment-3_final/outlinks.json


assignment-3/frontier_system.json
assignment-3/inlinks*.json
assignment-3/outlinks.json


process_Documents.ipynb
Untitled1.ipynb
update_run.ipynb
assignment-3_new

assignment-4/american_revolutionary_war*
assignment-4/independence*

assignment-4/HITS (copy).ipynb
node_modules
